.display-dropdown {
    position: relative;
    z-index: 10;
}
.display-dropdown .dropdown-label-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    box-shadow: 0 0 0.5rem var(--shadow-color);
    background-color: var(--dropdown-background);
    cursor: pointer;
}

.display-dropdown .dropdown-label {
    color: var(--dropdown-color);
    font-weight: 600;
}

.display-dropdown .dropdown-content-container {
    position: absolute;
    top: 2.5rem;
    padding: 1.25rem 1.5rem;
    border-radius: 1rem;
    background-color: var(--dropdown-background);
    box-shadow: 0 0 0.5rem var(--shadow-color);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.display-dropdown .dropdown-content-container:not(.visible) {
    display: none;
}

.display-dropdown .dropdown-content-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.display-dropdown .dropdown-content-label {
    color: #8a8b8c;
    font-weight: 600;
}

.display-dropdown select {
    background-color: transparent;
    color: var(--dropdown-color);
    outline: none;
    border: 1px solid #d8d8d8;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
}

  .light {
    --dropdown-background: #fff;
    --select-background:white;
    --dropdown-color: #8a8b8c;
    --shadow-color: rgba(18, 18, 18, 0.129);

  }
  
.dark {
--dropdown-background: #1e1e1e;
--select-background:#b3b3b3;
--dropdown-color: #b3b3b3;
--shadow-color: rgba(0, 0, 0, 0.5);

}